Faça um algoritmo que:
* leia 20 números inteiros;
* escreva os números que são negativos;
* escreva a média dos números positivos.

In [ ]:
numbers = 0
for i in range(3):
  n = float(input("number: "))
  if n > 0:
    numbers += n
  if n < 0:
    print("Negativo")

print(f"A média dos números positivos é: {(numbers)/(i+1)}")

number: 32
number: 12
number: 42
28.666666666666668

Faça um algoritmo que leia 15 números inteiros e escreva, para cada número lido, se é
par ou ímpar.

In [ ]:
for i in range(3):

  n = float(input("number: "))

  if n % 2 == 0:
    print("Par")
  if n % 2 != 0:
    print("Ímpar")

number: 4
Par
number: 2
Par
number: 3
Ímpar

Dado um conjunto de valores inteiros positivos, determinar qual o menor e qual o
maior valor do conjunto. Um número com valor “0” (zero) indica o fim dos dados e
não deve ser considerado.

In [ ]:
loop_num = 1
lister = [0,0]

while loop_num != 0:
  loop_num = int(input("number> "))
  if loop_num > lister[0]:
    lister[0] = loop_num
  if loop_num < lister[1]:
    lister[1] = loop_num

print(f"O maior número é o: {lister[0]}\nO menor número é o: {lister[1]}")

number> 5
number> 3
number> 2
number> 1
number> 6
number> 8
number> 123
number> 12
number> -12
number> 0
O maior número é o: 123
O menor número é o: -12

Faça um algoritmo que calcule e escreva a soma dos números pares e a soma dos
números ímpares entre 1 e 100.

In [ ]:
lister = [0,0]

for i in range(101):
  if i % 2 == 0:
    lister[0] += i
  if i % 2 != 0:
    lister[1] += i
  
print(f'A soma dos pares é igual a: {lister[0]}\nJá a soma dos ímpares é igual a: {lister[1]}')

A soma dos pares é igual a: 2550
Já a soma dos ímpares é igual a: 2500

Faça um algoritmo que leia a altura de 20 pessoas e calcule a média aritmética das
alturas.

In [ ]:
n = int(input("Número de pessoas:"))
all_heights = 0

for i in range(n):
  height = float(input("Altura da pessoa em cms> "))
  all_heights += height

print(f"A altura média das pessoas é: {all_heights/n}cms")

Número de pessoas:3
Altura da pessoa em cms> 190
Altura da pessoa em cms> 189
Altura da pessoa em cms> 177
A altura média das pessoas é: 185.33333333333334cms

Faça um algoritmo que leia n valores inteiros e escreva quantos desses valores são
negativos.

In [ ]:
n = int(input("Quantos números serão analisados? "))
num_count = 0
for i in range(n):
  number = float(input("number: "))
  if number < 0:
    num_count += 1

print(f"O total de números negativos é: {num_count}")

Quantos números serão analisados? 4
number: 2
number: -4
number: 2
number: -3
O total de números negativos é: 2

Faça um algoritmo que leia a quantidade de tinta que uma caneta, e enquanto a
caneta tiver tinta para escrever, escreva “Enquanto tem tinta a caneta escreve...”.
Considere que a cada comando de escrita a caneta gasta 2% da tinta que possui.

In [ ]:
ink = float(input("Quanta tinta? "))
cont = 0

while ink != 0 or cont == 10:
  ink * 0.02
  print("Enquanto tem tinta a caneta escreve")

# Código infinito pois como se trata de porcentagem nunca chegara a zero

Faça um algoritmo que leia n pares de valores, sendo o primeiro valor o número de
inscrição do atleta e o segundo a altura (em cm) do atleta. Escreva:
• o número de inscrição e a altura do atleta mais alto;
• o número de inscrição e a altura do atleta mais baixo;
• a altura média do grupo de atletas.

In [ ]:
tallest = [
  0 , 0
]
smallest = [
  0 , 0
]
height_sum = 0

n = int(input("Número de atletas a serem analisados: "))

for i in range(n):
  id = int(input("Número de inscrição do atleta: "))
  height = int(input("Qual é a altura dele em cms? "))
  if height > tallest[0]:
    tallest[0] = height
    tallest[1] = id
  elif height < tallest[0]:
    smallest[0] = height
    smallest[1] = id
  height_sum += height
  
print(f'O atleta mais alto é o {tallest[1]} com {tallest[0]}cms de altura')
print(f'O atleta mais baixo é o {smallest[1]} com {smallest[0]}cms de altura')
print(f'A altura média é {height_sum/n}')

Número de atletas a serem analisados: 3
Número de inscrição do atleta: 190
Qual é a altura dele em cms? 190
Número de inscrição do atleta: 180
Qual é a altura dele em cms? 180
Número de inscrição do atleta: 179
Qual é a altura dele em cms? 179
O atleta mais alto é o 190 com 190cms de altura
O atleta mais baixo é o 179 com 179cms de altura
A altura média é 183.0

![imagem_2023-05-10_210753447.png]()

In [ ]:
x = 1

while x < 5:
  y = (3 + 2*x +6*x**2)/(1+9*x+16*x**2)
  x += 0.1
  print(y)

0.4230769230769231
0.4117647058823529
0.4029850746268657
0.39607448414695523
0.3905693950177936
0.38613861386138604
0.382540809084457
0.3795970578829549
0.37717265353418306
0.3751647772211969
0.37349397590361444
0.3720981649347778
0.3709283387622149
0.3699454579650179
0.3691181596375044
0.3684210526315789
0.3678334339167169
0.3673383119628012
0.36692165655499864
0.3665718173945317
0.3662790697674419
0.36603525676119564
0.36583350547407556
0.3656680003903582
0.3655338012560029
0.36542669584245074
0.3653430802458881
0.365279861056288
0.365234375
0.3652043226221999
0.3651877133105802
0.36518281952682
0.36518813854971344
0.3652023603743221
0.36522434067815956
0.36525307797537626
0.3652876942461151
0.3653274184604527
0.36537157252204244
0.3654195592414854
0.36547085201793716

In [ ]:
n = int(input("Insira o número a ser fatorado: "))
conta = 1
conta_2 = 1

for element in range(n):
    conta *= conta_2 
    conta_2 += 1
   
  
print(conta)

Insira o número a ser fatorado: 4
24

Faça um algoritmo que calcule e escreva a soma da seguinte série de 100 termos:

In [ ]:
term = 0

for i in range(101):
  term += i

print(term)

5050

Faça um algoritmo que calcule e escreva a soma da seguinte série de 100 termos:

In [ ]:
term = 1
cont = 1
while cont != 100:
  cont += 1
  term += 1/cont

print(term)

5.187377517639621

Fazer um algoritmo para calcular o valor de S, dado por:

In [ ]:
N = int(input("Insira um valor para N: "))
val = 0
cont = 0

while cont != N:
  
  cont += 1
  val += cont/N-cont
  val += N-cont/cont

print(val)

Insira um valor para N: 10
40.49999999999999

O valor aproximado do número p pode ser calculado usando-se a série:

sendo o valor de . Faça um algoritmo que calcule e escreva o valor de p
usando os 51 primeiros termos da série.

In [ ]:
from decimal import Decimal, getcontext
getcontext().prec = 51

value = 1
cont = 3


while cont != 51:

  value -= 1/cont**3
  cont += 2
  value += 1/cont**3
  cont += 2

S = value
pi = Decimal((S * 32)**(1/3))

print(pi)

3.141596966297162563108713584369979798793792724609375

Fazer um algoritmo que calcule e escreva a soma dos 20 primeiros termos da série:

In [ ]:
import math
value = 0

for i in range(21):
  value = 100 - i / math.factorial(i+1)   

print(value)

100.0

Fazer um algoritmo que calcule e imprima o valor de ex através da série:

In [ ]:
import math

x = int(input("Defina um número para x: "))
value = 0
neutral = value + x

for i in range(31):
  value = x ** i+1/ math.factorial(i+1)   

print(value)

Defina um número para x: 20
1.073741824e+39

Foi feita uma pesquisa de audiência de canal de TV em n casas de um determinado
bairro de Joinville, em um certo dia do mês. Na pesquisa foi utilizado um coletor de
dados portátil. Para cada casa visitada, foi fornecido o número do canal (4, 5, 9, 12) e
o número de pessoas que estavam assistindo a TV naquele horário, considerando que
em cada casa só existia uma televisão. Em casas onde a televisão estava desligada, foi
registrado zero para o número do canal e para o número de pessoas. Faça um
algoritmo que calcule e escreva, para cada emissora, o percentual de audiência.

In [ ]:
audi = {4: [0, 0], 5: [0, 0], 9: [0, 0], 12: [0, 0]}
total_peoples = 0
houses = int(input("Digite a quantidade de casas entrevistadas: "))

for i in range(houses):
    ch = int(input("Digite o número do Canal (4, 5, 9 ou 12): "))
    peoples = int(input("Digite o número de pessoas assistindo: "))
    audi[ch][0] += peoples
    audi[ch][1] += 1
    total_peoples += peoples

for ch, info in audi.items():
    if info[1] == 0:
        percentual = 0
    else:
        percentual = round(info[0] / total_peoples,2)
    print(f"Canal {ch}: {percentual}% de audiência")

Digite a quantidade de casas entrevistadas: 4
Digite o número do Canal (4, 5, 9 ou 12): 4
Digite o número de pessoas assistindo: 20
Digite o número do Canal (4, 5, 9 ou 12): 5
Digite o número de pessoas assistindo: 12
Digite o número do Canal (4, 5, 9 ou 12): 9
Digite o número de pessoas assistindo: 12
Digite o número do Canal (4, 5, 9 ou 12): 4
Digite o número de pessoas assistindo: 12
Canal 4: 0.57% de audiência
Canal 5: 0.21% de audiência
Canal 9: 0.21% de audiência
Canal 12: 0% de audiência

Uma companhia de teatro planeja dar uma série de espetáculos. A direção calcula que,
a R$ 5,00 o ingresso, serão vendidos 120 ingressos. Com a diminuição de R$ 0,50 no
preço dos ingressos, espera-se que haja um aumento de 26 ingressos vendidos. As
despesas estão estipuladas em R$ 200,00 independente do número de ingressos
vendidos. Faça um algoritmo que escreva uma tabela contendo o preço do ingresso, o
número de ingressos e o lucro esperado em função do preço do ingresso, fazendo-se
variar este preço de R$ 5,00 a R$ 1,00 de R$ 0,50 em R$ 0,50. Escreva também o lucro
máximo esperado, o preço e o número de ingressos correspondentes.

In [ ]:
import pandas as pd

preco = 5.00
incremento = 0.50
max_lucro = 0.0
max_preco = 0.0
max_ingressos = 0
precos = []
ingressos = []
lucros = []

while preco >= 1.00:
    if preco == 5.00:
        num_ingressos = 120
    else:
        num_ingressos = 120 + (preco - 5.00) / 0.50 * 26
    receita = num_ingressos * preco
    despesas = 200.00
    lucro = receita - despesas  
    precos.append(preco)
    ingressos.append(num_ingressos)
    lucros.append(lucro)   
    if lucro > max_lucro:
        max_lucro = lucro
        max_preco = preco
        max_ingressos = int(num_ingressos) 
    preco -= incremento

tabela_dos_dados = pd.DataFrame({'Preço do ingresso': precos,
                   'Número de ingressos': ingressos,
                   'Lucro esperado': lucros})

tabela_dos_dados = tabela_dos_dados.round({'Preço do ingresso': 2, 'Lucro esperado': 2})


print(tabela_dos_dados)

print(f"\nLucro máximo esperado: R$ {max_lucro:.2f}")
print(f"Preço do ingresso: R$ {max_preco:.2f}")
print(f"Número de ingressos: {max_ingressos}")

   Preço do ingresso  Número de ingressos  Lucro esperado
0                5.0                120.0           400.0
1                4.5                 94.0           223.0
2                4.0                 68.0            72.0
3                3.5                 42.0           -53.0
4                3.0                 16.0          -152.0
5                2.5                -10.0          -225.0
6                2.0                -36.0          -272.0
7                1.5                -62.0          -293.0
8                1.0                -88.0          -288.0

Lucro máximo esperado: R$ 400.00
Preço do ingresso: R$ 5.00
Número de ingressos: 120

Faça um algoritmo que leia n números inteiros e escreva, para cada número lido, os
divisores e quantidade de divisores.
EXEMPLO: número lido = 12
divisores = 1, 2, 3, 4, 6, 12

quantidade divisores = 6

In [ ]:
import pandas as pd

n = int(input("Digite a quantidade de números que deseja informar: "))

numeros = []
divisores = []
quantidade_divisores = []

for i in range(n):
    numero = int(input("Digite um número inteiro: "))
    divisores_num = []
    for divisor in range(1, numero+1):
        if numero % divisor == 0:
            divisores_num.append(divisor)
    quantidade_divisores_num = len(divisores_num)
    
    numeros.append(numero)
    divisores.append(divisores_num)
    quantidade_divisores.append(quantidade_divisores_num)

tabela = pd.DataFrame({
    "Número": numeros,
    "Divisores": divisores,
    "Quantidade de divisores": quantidade_divisores
})

print(tabela)

Digite a quantidade de números que deseja informar: 7
Digite um número inteiro: 100
Digite um número inteiro: 312
Digite um número inteiro: 423
Digite um número inteiro: 6134
Digite um número inteiro: 4312
Digite um número inteiro: 32
Digite um número inteiro: 12
   Número                                          Divisores  \
0     100                  [1, 2, 4, 5, 10, 20, 25, 50, 100]
1     312  [1, 2, 3, 4, 6, 8, 12, 13, 24, 26, 39, 52, 78,...
2     423                            [1, 3, 9, 47, 141, 423]
3    6134                                 [1, 2, 3067, 6134]
4    4312  [1, 2, 4, 7, 8, 11, 14, 22, 28, 44, 49, 56, 77...
5      32                               [1, 2, 4, 8, 16, 32]
6      12                                [1, 2, 3, 4, 6, 12]

   Quantidade de divisores
0                        9
1                       16
2                        6
3                        4
4                       24
5                        6
6                        6

Uma máquina de biscoito está com problemas. Quando ligada, após 1 hora ela quebra
1 biscoito, na segunda hora ela quebra 3 biscoitos, na hora seguinte ela quebra 3
vezes a quantidade de biscoitos quebrados na hora anterior, e assim por diante. Faça
um algoritmo que calcule quantos biscoitos são quebrados no final de cada dia (a
máquina opera 16 horas por dia).

In [ ]:
total_biscoitos_quebrados = 0
contador = 0

for i in range(16):
  
      total_biscoitos_quebrados += 1
      total_biscoitos_quebrados += 3
      total_biscoitos_quebrados += (3 * 3) 
  
print(f"No final do dia, a máquina quebrou {total_biscoitos_quebrados} biscoitos.")

No final do dia, a máquina quebrou 208 biscoitos.

Uma turma tem 50 alunos. Faça um algoritmo que:
• leia para cada aluno o seu nome e idade;
• escreva os nomes dos alunos que tem 18 anos;
• escreva a quantidade de alunos que tem idade acima de 20 anos.

In [ ]:
from tables.file import NodeManager
import pandas as pd 

nomes = []
idade = []
twenty_plus = 0

for i in range(3):
  name = input("Nome do aluno> ")
  age = int(input("Idade do aluno>"))
  if age == 18:
    nomes.append(name)
    idade.append(age)
  elif age > 20:
    twenty_plus += 1

tabela = pd.DataFrame({
    "Nome": nomes,
    "Idade": idade
})

if tabela.empty:
  print("Sem alunos com 18 anos.")
else:
  print(". . . . . . . . . . . . . . . \nAlunos com 18 anos:")
  print(tabela[["Nome"]])
  print(". . . . . . . . . . . . . . . \n")
print(f"A quantidade da alunos acima de vinte anos é de {twenty_plus} alunos")

Nome do aluno> Robosn
Idade do aluno>19
Nome do aluno> Alon
Idade do aluno>18
Nome do aluno> Mino
Idade do aluno>18
. . . . . . . . . . . . . . .
Alunos com 18 anos:
   Nome
0  Alon
1  Mino
. . . . . . . . . . . . . . .

A quantidade da alunos acima de vinte anos é de 0 alunos

Faça um algoritmo que:
• leia, para n pessoas, a altura e o sexo (sexo = 'M' ou sexo = 'm' para masculino e
sexo = 'F' ou sexo = 'f' para feminino);
• escreva a média da altura das mulheres;
• escreva a média da altura da turma.

In [6]:
import pandas as pd

n = int(input("Número de pessoas a serem comparadas> "))

h_males = 0
h_females = 0
females = 0
males = 0
female_average = 0
all_avarage = 0

for i in range(n):
  sexo = input("Qual o sexo da pessoa? ")
  
  if sexo.upper() == "M":
    males += 1
    height = int(input("Insira a altura do homem em cm's > "))
    h_males += height
  if sexo.upper() == "F":
    females += 1
    height = int(input("Insira a altura da mulher em cm's >"))
    h_females += height

female_average = h_females / females
all_avarage= (h_females + h_males)/n
f = []
a = []
a.append(all_avarage)
f.append(female_average)



tabela = pd.DataFrame({
    "Altura Média ( Mulheres )": f,
    "Altura Média Geral": a
})

print(tabela)

Número de pessoas a serem comparadas> 3
Qual o sexo da pessoa? f
Insira a altura da mulher em cm's >190
Qual o sexo da pessoa? m
Insira a altura do homem em cm's > 190
Qual o sexo da pessoa? f
Insira a altura da mulher em cm's >190
   Altura Média (F)  Altura Média Geral
0             190.0               190.0

Uma loja de departamentos oferece para seus clientes um determinado desconto de
acordo com o valor da compra efetuada. O desconto é de 20% caso o valor da compra
seja maior que R$ 500,00 e de 15% caso seja menor ou igual. Faça um algoritmo que
leia, para cada cliente, nome, endereço e valor da compra e escreva o total a pagar.
Um nome de cliente igual a ULTIMO indica o fim da entrada de dados.

In [26]:
import pandas as pd
name = ''
l_name = []
l_adress = []
l_total_cost = []

while name.upper() != "ULTIMO":
  name = input("Insira o nome do cliente> ")
  if name.upper() == "ULTIMO":
    break
  else:
    adress = input("Insira o endereço desse cliente> ")
    value_spent = float(input("Insira o valor da compra> "))

    if value_spent > 500:
      discount = 0.2
    else:
      discount = 0.15

    total_cost = value_spent - (value_spent * discount)

  l_name.append(name)
  l_adress.append(adress)
  l_total_cost.append(total_cost)


tabela = pd.DataFrame({
    "Nome":l_name,
    "Endereço":l_adress,
    "Valor total: R$":l_total_cost
})

print(tabela)

Insira o nome do cliente> Alon
Insira o endereço desse cliente> Rua dos anjos
Insira o valor da compra> 1902
Insira o nome do cliente> Vitor
Insira o endereço desse cliente> Minguante menor
Insira o valor da compra> 90
Insira o nome do cliente> Lino
Insira o endereço desse cliente> 213
Insira o valor da compra> 3214
Insira o nome do cliente> Mino
Insira o endereço desse cliente> Tauro
Insira o valor da compra> 213
Insira o nome do cliente> Minolo
Insira o endereço desse cliente> 90
Insira o valor da compra> 90
Insira o nome do cliente> Manola
Insira o endereço desse cliente> 932
Insira o valor da compra> 1234
Insira o nome do cliente> Minguante
Insira o endereço desse cliente> Crescente do Luar
Insira o valor da compra> 123
Insira o nome do cliente> Ultimo
        Nome           Endereço  Valor total: R$
0       Alon      Rua dos anjos          1521.60
1      Vitor    Minguante menor            76.50
2       Lino                213          2571.20
3       Mino              Tauro           181.05
4     Minolo                 90            76.50
5     Manola                932           987.20
6  Minguante  Crescente do Luar           104.55

Faça um algoritmo que leia valores, sendo que cada valor representa a idade de uma
pessoa. Calcule e escreva a idade média do grupo de pessoas. Só devem ser
computados no cálculo valores maiores do que zero. O algoritmo deve apresentar ao
usuário a seguinte mensagem:
deseja digitar mais um valor: s (SIM) / n (NAO)?,
antes de prosseguir com a entrada de dados.

In [31]:
permission = ''
age_cont = 0
cont = 0
while permission.lower() != 'n':

  age = int(input("Digite a idade da pessoa> "))
  permission = input("Deseja continuar?  s / n > ")

  if age > 0:
    age_cont += age
    cont += 1
  else:
    pass

average_age = age_cont / cont

print(f"A idade média é {average_age} anos")

Digite a idade da pessoa> 3
Deseja continuar?  s / n > s
Digite a idade da pessoa> 4
Deseja continuar?  s / n > s
Digite a idade da pessoa> 5
Deseja continuar?  s / n > n
4.0

Um hotel cobra R 50,00 de diária por hóspede e mais uma taxa de serviços. A taxa de
serviços é de:
• R 7,50 por diária, caso o número de diárias seja menor que 15;
• R 6,50 por diária, caso o número de diárias seja igual a 15;
• R 5,00 por diária, caso o número de diárias seja maior que 15.

Faça um algoritmo que apresente as seguintes opções ao recepcionista:
1. encerrar a conta de um hóspede
2. verificar número de contas encerradas
3. finalizar a execução

In [40]:
import pandas as pd
# Declara as variáveis

exec = ''
daily_cost = 50
client = []
cost = []
cont = 0
# 
option = 0
ended = 0
# Adicionar os clientes e seu custo total

while exec.upper() != "HALT":

  days = int(input("Quantos dias o cliente vai ficar? "))

  if days < 15:
    service = days * 7.50
  if days == 15:
    service = days * 6.50
  else:
    service = days * 5
  
  total_cost = service + daily_cost * days
  cont += 1
  client.append(f"Cliente {cont}")
  cost.append(total_cost)
  exec = input("Prosseguir com a operação? ")

# Cria a tabela de dados

tabela = pd.DataFrame({
    "Cliente": client,
    "Custo Total: R$":cost
})

print("O operador deseja: \n 1 - Encerrar a conta de um hóspede. \n 2 - Verificar o número de contas encerradas. \n 3 - Encerrar o programa.")
# Funções de deletar por id e verificar o número de contas apagadas
while option != 3:

  if option == 1 :
    print(tabela)
    account = int(input("Qual o ID da conta que deverá ser encerrada? "))
    tabela = tabela.drop([account])
    ended += 1

  if option == 2 :
    print(f"O número de contas encerrados foi {ended}")

  option = int(input("Operação : "))

print(tabela)

Quantos dias o cliente vai ficar? 12
Prosseguir com a operação? s
Quantos dias o cliente vai ficar? 12
Prosseguir com a operação? s
Quantos dias o cliente vai ficar? 54
Prosseguir com a operação? f
Quantos dias o cliente vai ficar? 87
Prosseguir com a operação? b
Quantos dias o cliente vai ficar? 43
Prosseguir com a operação? f
Quantos dias o cliente vai ficar? 23
Prosseguir com a operação? f
Quantos dias o cliente vai ficar? 2
Prosseguir com a operação? d
Quantos dias o cliente vai ficar? 1
Prosseguir com a operação? v
Quantos dias o cliente vai ficar? 5
Prosseguir com a operação? n
Quantos dias o cliente vai ficar? 8
Prosseguir com a operação? ,
Quantos dias o cliente vai ficar? 9
Prosseguir com a operação? c
Quantos dias o cliente vai ficar? 12
Prosseguir com a operação? f
Quantos dias o cliente vai ficar? 43
Prosseguir com a operação? HALT
O operador deseja:
 1 - Encerrar a conta de um hóspede.
 2 - Verificar o número de contas encerradas.
 3 - Encerrar o programa.
Operação : 1
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
2    Cliente 3             2970
3    Cliente 4             4785
4    Cliente 5             2365
5    Cliente 6             1265
6    Cliente 7              110
7    Cliente 8               55
8    Cliente 9              275
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660
12  Cliente 13             2365
Qual o ID da conta que deverá ser encerrada? 12
Operação : 1
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
2    Cliente 3             2970
3    Cliente 4             4785
4    Cliente 5             2365
5    Cliente 6             1265
6    Cliente 7              110
7    Cliente 8               55
8    Cliente 9              275
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660
Qual o ID da conta que deverá ser encerrada? 3
Operação : 12
Operação : 1
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
2    Cliente 3             2970
4    Cliente 5             2365
5    Cliente 6             1265
6    Cliente 7              110
7    Cliente 8               55
8    Cliente 9              275
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660
Qual o ID da conta que deverá ser encerrada? 5
Operação : 1
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
2    Cliente 3             2970
4    Cliente 5             2365
6    Cliente 7              110
7    Cliente 8               55
8    Cliente 9              275
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660
Qual o ID da conta que deverá ser encerrada? 6
Operação : 1
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
2    Cliente 3             2970
4    Cliente 5             2365
7    Cliente 8               55
8    Cliente 9              275
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660
Qual o ID da conta que deverá ser encerrada? 2
Operação : 1
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
4    Cliente 5             2365
7    Cliente 8               55
8    Cliente 9              275
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660
Qual o ID da conta que deverá ser encerrada? 8
Operação : 2
O número de contas encerrados foi 6
Operação : 3
       Cliente  Custo Total: R$
0    Cliente 1              660
1    Cliente 2              660
4    Cliente 5             2365
7    Cliente 8               55
9   Cliente 10              440
10  Cliente 11              495
11  Cliente 12              660

Um determinado material radioativo perde metade de sua massa a cada 50 segundos.
Dada a sua massa inicial em Kg, faça um algoritmo que determine o tempo necessário
para que essa massa se torne menor que 0,5 gramas. Escreva a massa inicial, a massa
final e o tempo.

In [53]:
mass0 = int(input("Qual a massa? "))*1000
massf = mass0
m_f = 0
cont = 0

while massf > 0.5:
  massf *= 0.5
  cont +=1

print(f"O tempo necessário para {mass0/1000}KG se tornar inferior a 0.5 gramas foi de {cont*50} segundos, a massa final foi de {massf:.2f} gramas.")

Qual a massa? 1000
O tempo necessário para 1000.0KG se tornar inferior a 0.5 gramas foi de 1050 segundos, a massa final foi de 0.48 gramas